/* Styling for Entire Website*/
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto',  sans-serif;
}
p{
	font-family: 'Open Sans',  sans-serif;
	line-height:150%;
	font-size: 16px;
} 
p a {
	color:#4E8E4E;
}
p a:hover{
	color:#3A6B3A;
	text-decoration: none;
}
body{
	background-color:  #ffffff;
}




/*Navigation*/

#logo{
	font-size: 160%;
    font-family: 'Roboto';
    font-weight: bold;
}
#nav-text{
	font-size: 18px;
	font-family: 'Roboto';
}
#nav-top{
	background-color: #F8FFF7;
	
}
.buy-book{
	font-weight: bold;
}

/*Homepage*/
.jumbotron{
	background-color: #F5FFEA;
	background-image: url('http://s11.postimg.org/4semn2p43/The_Fugitive_Prophet_COVER_JPEG_9_9_16.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-height: 350px;
	min-height: 350px;
	margin-bottom: none;
}
.jumbotron h1, h2{
	font-weight: bold;
	text-shadow: white 2px 2px;
}
.jumbotron h1{
	padding-top: 50px;
}
.jumbotron h2{
	padding-bottom:25px;
}
.book-cover-img{
	max-height: 400px;
	margin-top: 30px;
}
.intro-text{
	padding-top: 30px;
}



/*Email Signup Section*/
#hr{
	border:solid white;
}

.email-signup{
	height:325px;
	width:100%;
	padding:80px;
	border-top:solid lightgrey 1px;
	border-top-width: 80%;
	margin-top: 120px;
	margin-bottom: 100px;
	border-bottom: solid lightgrey 1px;
	background-color: #B6D6C6;
}

.fake-email{
	height: 40px;
	width: 280px;
	border:solid black 1px;
	margin-top: 15px;
}

/*About Page*/
.about-page{
	padding-bottom: 30px;
}
.about-header{
	margin-top: 69px;
	margin-bottom: 60px;
}


/*Contact page*/

.contact{
	margin-top: 30px;
}
.font-awesome{
	width: 190px;
	margin-bottom: 40px;
}
i {
	display: inline-block;
	text-align: center;
	color: grey;
	padding-right:10px;
	padding-left: 10px;
}
i:hover{
	color:#4E8E4E;
}



/*Footer*/
#footer{
	text-decoration: none;
	background-color:#F8FFF7;
}
#footer p {
	display: inline;
}
#footer a{
	color: #777;
}

#footer a:hover{
	color:black;
	text-decoration: none;
}


