/* Styling for Entire Website*/
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto',  sans-serif;
}
p{
	font-family: 'Open Sans',  sans-serif;
	line-height:150%;
	font-size: 16px;
} 
p a {
	color:#588d78;
}
p a:hover{
	color:#314e43;
	text-decoration: none;
}
body{
	background-color:  #ffffff;
}




/*Navigation*/

#logo{
	font-size: 160%;
    font-family: 'Roboto';
    font-weight: bold;
}
#nav-text{
	font-size: 18px;
	font-family: 'Roboto';
}
#nav-top{
	background-color: #F8FFF7;
	
}
.buy-book{
	font-weight: bold;
}

/*Homepage*/
.jumbotron{
	background-color: #F5FFEA;
	background-image: url('http://s11.postimg.org/4semn2p43/The_Fugitive_Prophet_COVER_JPEG_9_9_16.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-height: 350px;
	min-height: 350px;
	margin-bottom: none;
}
.jumbotron h1, h2{
	font-weight: bold;
	text-shadow: white 2px 2px;
}
.jumbotron h1{
	padding-top: 50px;
}
.jumbotron h2{
	padding-bottom:25px;
}
.book-cover-img{
	max-height: 400px;
	margin-top: 30px;
}
.intro-text{
	padding-top: 30px;
}



/*Buy Book section*/

hr{
	border: solid white;
}

.buy-section{
	position: relative;
	height:400px;
	width:100%;
	border-top:solid lightgrey 1px;
	border-top-width: 80%;
	margin-top: 100px;
	margin-bottom: 100px;
	border-bottom: solid lightgrey 1px;
	background-image: url('http://s4.postimg.org/6bpr8ce4d/The_Fugitive_Prophet_COVER_JPEG_9_9_16_3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.buy-section h1, h2{ 
	font-weight: bold;
	text-shadow: white 2px 2px;
 }


 .buy-text{
 	line-height: 15px;
 	width: 500px;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 #book-btn{
 	background-color:#ECF5E2;
 	color: black;
 	border:solid #AECCC0 2px;
 	font-weight: bold;
 	font-family: 'Roboto', sans-serif;
 	font-size: 18px;
 	text-decoration: none;
 	width:200px;

 }
  #book-btn:hover{
 	background-color: #AECCC0;
 	border:solid #AECCC0 2px;
 	font-size: 18px;
 	text-decoration: none;

 }


/*About Page*/
.about-page{
	padding-bottom: 30px;
}
.about-header{
	margin-top: 69px;
	margin-bottom: 60px;
}


/*Contact page*/

.contact{
	margin-top: 30px;
}
.font-awesome{
	width: 190px;
	margin-bottom: 40px;
}
i {
	display: inline-block;
	text-align: center;
	color: grey;
	padding-right:10px;
	padding-left: 10px;
}
i:hover{
	color:#588d78;
}



/*Footer*/
#footer{
	text-decoration: none;
	background-color:#F8FFF7;
}
#footer p {
	display: inline;
}
#footer a{
	color: #777;
}

#footer a:hover{
	color:black;
	text-decoration: none;
}


